{% extends 'home.html' %}
{% block content %}

<!-- <!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body> -->
About page
<form action="/about/save" method="post"> {% csrf_token %}
    <div>
        <input type="text" name="code" value="customer data" readonly></div>
    Name<input type="text" name="name" placeholder="enter name"><div>    </div>
    <div> Place<input type="text" name="place"></div>
    <!--<div>Place<select name="District" id="" >
        <option value="D1">Kottayam</option>
        <option value="D2">Kannur</option>
        <option value="D3">Trivandrum</option>
        <option value="D4">Kochi</option>
        <option value="D5">Idduki</option>
         <option value="D6">Kollam</option></select></div> -->
    <div></div>Email<input required type="email" name="email" placeholder="enter email">
    <div>Mobile<input type="number" name="phone"></div>
    <div>Password<input type="password" name="password"></div>
      <div>
    <input type="submit" value="Submit"></div>
    </form>

{% endblock %}

<!-- </body>
</html>  -->